@import "~bootstrap/scss/bootstrap.scss";
@import "_fonts.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
// css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// color settings
$hover-c: #c7b299;
$title-c: #555;
$text-c: #8c8c8c;
// font srttings
$title-f: 'raleway';
$text-f: 'montserrat';
.section-title {
	font-family: $title-f;
	color: $title-c;
	font-weight: 600;
	font-size: 30px;
}
.section-text {
	font-family: $text-f;
	color: $text-c;
	line-height: 28px;
}

 			// Header
 	.mobile {
		&-header {
			display: none;
			padding-top: 20px;
			margin-bottom: 40px;
			&-menu {
				display: flex;
				height: 100%;
				justify-content: center;
				align-items: center;
				&-link {
					z-index: 3;
					display: block;
					width: 20px;
					height: 13px;
					text-decoration: none;
					position: relative;
					&:hover {
						opacity: .8;
					 .mobile-header-nav {
							display: flex;
						}
					}
				}
				&-item {
					position: absolute;
					display: block;
					width: 20px;
					height: 1px;
					background-color: #fff;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&:after {
						content: '';
						position: absolute;
						display: block;
						width: 20px;
						height: 1px;
						background-color: #fff;
						transform: translateY(5px); 
					}
					&:before {
						content: '';
						position: absolute;
						display: block;
						width: 20px;
						height: 1px;
						background-color: #fff;
						transform: translateY(-5px);
					}
				}	
			}
			&-img {
				display: flex;
				height: 100%;
				justify-content: center;
			}
			&-pict {
				justify-self: center;
			}
			&-search {
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
				&-link {
					text-decoration: none;
					color: #fff;
					&:hover {
						color: #fff;
						text-decoration: none;
						opacity: .8;
					}
				}
			}
			&-nav {
				text-align: center;
				position: fixed;
				background-color: rgba(0,0,0,.5);
				width: 100%;
				top: 0;
				left: 0;
				z-index: 3;
				height: 70%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				// &-area {
				// 	display: none;
				// }
				&-item {
					margin-bottom: 10px;
				}
				&-link {
					color: #fff;
					font-size: 16px;
					&:hover {
						text-decoration: none;
						color: #fff;
					}	
				}
			}
		}
	}
 .main-carousel {
	width: 100%;
 }
 .slide-pict {
 	height: 100vh;
 	min-height: 100vh;
 }
 .carousel-indicators .slider-indicator {
 	border-radius: 50%;
 	background-color: #d3c1ad;
 	width: 15px;
 	height: 15px;
 	box-sizing: border-box;
 	margin-right: 10px;
 	margin-bottom: 40px;
 }
 .carousel-indicators .slider-indicator:last-child {
 	margin-right: 0;
 }

 .carousel-indicators .slider-indicator:active,
 .carousel-indicators .slider-indicator:hover {
	background-color: transparent;
	border: 2px solid #d3c1ad;
 }
 .carousel-control-prev,
 .carousel-control-next {
 	width: 7%;
 	&:hover {
 		.icon-left,
 		.icon-right {
 			color: $hover-c;
 		}
 	}
 }
 .icon-left,
 .icon-right {
 	 font-size: 70px;
 }
 
.wrapper {
	padding-top: 40px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	}
.header{
	display: none;
	&-desctop {
		line-height: 56px;
	}
	&-cart {
		text-decoration: none;
		font-size: 24px;
		color: #fff;
		margin-right: 10px;
	}
	&-search {
		color: #fff;
		font-size: 24px;
		text-decoration: none;
	}
	&-cart:hover,
	&-search:hover {
		color: $hover-c;
		text-decoration: none;
	}
	&-nav {
		width: 100%;
		&-menu{
			display: none;
			&-open {
			 width: 100%;
			 display: block;
			 padding: 10px;
			 font-family: $text-f;
			 font-weight: 400;
			 font-size: 14px;
			 color:#7e7b74;
			 text-align: center;
			 background-color: #fbfaf8;
			 border-radius: 3px;
			 &:hover {
				cursor: pointer;
				margin-bottom: 10px;
				.header-nav-menu {
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: block;
					margin-top: 10px;
				}
			 }
			}
			&-link {
				font-size: 14px;
				font-family: $title-f;
				font-weight: 600;
				color: #7e7b74;
				padding: 10px;
				text-align: center;
				display: block;
				width: 100%;
				background-color: #fbfaf8;
				&:hover {
					text-decoration: none;
					color: $hover-c;
					background-color: #fff;
			  }
				&:after {
					display: block;
					content: '';
					background-color: #d1cfcd;
					height: 2px;
					width: 20%;
					margin: 0 auto;
					margin-top: 10px;
				}
			}
		}
	}
}
.top-menu {
		width: 100%;
		&-item {
			display: inline-block;
			margin-right: 20px;
		}
		&-item:last-child {
			margin-right: 0;
		}
		&-link {
			font-family: $text-f;
			color: #fff;
			font-size: 14px;
			text-decoration: none;
		}
		&-link:hover {
			color: $hover-c;
			text-decoration: none;
		}
}



.title-block {
	padding-top: 10%;
	text-align: center;
	margin: 0 auto;
	&-btn {
		font-family: $title-f;
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		height: 53px;
		width: 170px;
		outline: none;
		border: none;
		background-color: #998675;
		border-radius: 3px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	.upper-title {
		font-family: $title-f;
		color: #fff;
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.title {
		font-family: $title-f;
		font-size: 52px;
		font-weight: 700;
		color: #fff;
		margin-bottom: 20px;
	}
	.under-title {
		font-family: $text-f;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		color: #fff;
		text-align: center;
		max-width: 562px;
		margin-bottom: 50px;
	}
}

		// work

.work {
	padding: 80px 0;
	&-card {
		color: $title-c;
		text-align: center;
		&-logo:before{
			font-size: 49px;
			margin-bottom: 30px;
			transition: color, .4s;
		}
		&-title {
			font-family: $title-f;
			font-size: 22px;
			font-weight: 600;
			margin-top: 30px;
			margin-bottom: 19px;
			transition: color, .4s;
		}
		&-text {
			color: $text-c;
			line-height: 24px;
		}
		&:after {
			display: block;
			margin: 30px auto 0 auto;
			content: '';
			height: 3px;
			width: 70px;
			background-color: #f1eee9;
			transition: background-color, .4s;
		}
		&:hover {
			cursor: pointer;
			color: $hover-c;
			.work-card-text {
				color:$text-c;
			}
			&:after {
				background-color: $hover-c;
			}
		}
	}
}
					// ideas

.ideas {
	text-align: center;
	padding-top: 80px;
	background-color: #fbfaf8;
	&-title {
		margin: 0 auto;
		margin-bottom: 25px;
	}
	&-text {
		margin-bottom: 40px;
	}
	.juggler {
		height: 440px;
		width: 100%;
		position: relative;
		bottom: 0;
		&-carousel {
			position: absolute;
			height: 349px;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&-pict {
			height: 349px;
			transition: height, .3s;
		}
		&-item {
			width: 770px;
			height: 400px;
			transition: height, .3s;
			position: absolute;
			background-image: url(/src/img/ideas-slider/bg-item.jpg);
			.carousel-indicators {
				z-index: 0;
			}
			&:hover {
				height: 440px;
				z-index: 2;
				.juggler-carousel {
					height: 389px;
					// margin-top: 30px;
				}
				.juggler-pict {
					height: 389px;
				}
				.carousel-indicators {
					z-index:2;
					margin-bottom: 0;	
				}
			}
		}
		.first-item {
			left: 0;
			bottom: 0;
			background-size: cover;
		}
		.second-item {		
			left: 50%;
			transform: translate(-50%);
			bottom: 0;
			background-size: cover;
			z-index: 1;
		}
		.three-item {
			right: 0;
			bottom: 0;
			background-size: cover;
		}
	}
}
.wordpress {
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	padding: 50px 0;
	.logo-link {
		color: $hover-c;
		font-family: $title-f;
		font-size: 28px;
		text-decoration: none;
		font-weight: 400;
		margin-right: 5px;
	}
	&-title {
		display: inline-block;
		color: #fff;
		font-size: 28px;
		font-family: $title-f;
		text-transform: capitalize;
		margin-bottom: 8px;
	}
	&-text {
		color: #615855;
		font-family: $text-f;
		font-size: 18px;
		font-weight: 300;
	}
	&-btn {
		width: 170px;
		height: 50px;
		text-transform: uppercase;
		color: #fff;
		outline: none;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		background-color: #998675;
		&-focus {
			outline: none;
		}
	}
}

				// project

.project {
	text-align: center;
	padding: 80px 0;
	&-mobile-slider {
		display: none;
	}
	.dropdown {
		display: none;
	}
	&-title {
		margin: 0 auto;
		margin-bottom: 25px;
	}
	&-text {
		margin-bottom: 40px;
	}
	&-block-item {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 50px;
		&:last-child {
			margin-right: 0;
		}
	}
	&-block-link {
		color: #8c8c8c;
		text-decoration: none;
		font-family: $text-f;
		font-size: 14px;
		border: 1px solid #ebebeb;
		border-radius: 3px;
		padding: 10px 20px;
		transition: background-color, .3s;
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: #998675;
			border-color: #998675 ;
		}
	}
	&-btn {
		width: 170px;
		height: 50px;
		background-color: #998675;
		color: #fff;
		text-transform: uppercase;
		font-family: $title-f;
		font-weight: 70;
		font-size: 14px;
		outline: none;
		border: none;
		border-radius: 3px;
		margin-top: 40px;
		cursor: pointer;
	}
}
.card {
	margin: 0 30px 30px 0;
	background-color: #fbfaf8;
	border: none;
	&-img-top {
		display: block;
	}
	&-logo {
		position: relative;
	}
	&-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		&-bg {
		position: absolute;
		background-image: url(/src/img/project-card/project-bg.png);
		opacity: .5;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		}
		&-link-block {
			margin: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&-search{
			content: '\e90f';
			font-family: 'icomoon';
			color: #fff;
			font-size: 25px;
			&:hover{
				text-decoration: none;
				color: $hover-c;
			}
		}
		&-element{
			content: '\e908';
			font-family: 'icomoon';
			color: #fff;
			font-size: 25px;
			margin-right: 30px;
			&:hover{
				text-decoration: none;
				color: $hover-c;
			}
		}
	}
	&:hover {
		background-color: #362f2d;
		cursor: pointer;
		.card-wrapper {
			display: block;
			outline: none;
			border: none;
		}
		.card-body {
			background-color: #362f2d;
			color: #fff;
			outline: none;
			border: none;
		}
		.card-body:before {
			color: #362f2d;
		}
		.card-text {
			color: #fff;
		}
	}
	&-img-top {
		border-radius: 0
	}
	&-body {
		position: relative;
		text-align: left;
		background-color: #fbfaf8;
		&:before {
			content: '\e916';
			font-family: 'icomoon';
			color: #fbfaf8;
			top: -15px;
			position: absolute;
		}
	}
	&-text {
		font-family: $title-f;
		color: #c7b29a;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 14px;
	}
	.project-card-type {
		color: #d1d1d1;
		font-family: $text-f;
		font-size: 14px;
		font-weight: 300;
	}
}

				// Video

.video {
	&-item {
	position: relative;
	}
	&-poster {
		width: 100%;
	}
}
.presentation{
	&-wrapper {
		position: absolute;
		top:50%;
		left: 50%;
		transform:translate(-50%,-50%);
		text-align: center;
		&-btn {
			margin: 0 auto;
			font-size: 50px;
			color: #fff;
			border-radius: 50%;
			padding: 15px;
			padding-bottom: 10px;
			background-color: rgba(90,93,98,0.3);
			margin-bottom: 40px;
			&:hover {
				color: #fff;
				text-decoration: none;
				opacity: .8;
			}
		}
		&-title {
			margin: 0 auto;
			color: #fff;
			font-family: $title-f;
			font-weight: 600;
			font-size: 30px;
			margin-bottom: 25px;
		}
		&-text {
			font-size: 16px;
			font-weight: 300;
			font-family: $text-f;
			color: #fff;
			margin-bottom: 40px;
		}
		&-time {
			font-family: $text-f;
			font-size: 14px;
			color: $hover-c;
			margin: 0 auto;
		}
	}
}

				// Device

.device {
	padding-top: 80px;
	&-bg {
		display: block;
	}
	&-title {
		margin-bottom: 40px;
	}
	&-text {
		margin-bottom: 70px;
	}
	&-list {
		margin-left: 40px;
		&-item {
			margin-bottom: 15px;
			&:before {
				content: url(/src/img/list-marker.png);
				margin-right: 25px;
			}
			&-text {
				font-family: $text-f;
			font-weight: 300;
			font-size: 16px;
			color: #8c8c8c;
			vertical-align: super;
			}
		}
	}
}

			// calc
.calc {
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	padding: 70px 0 60px 0;
	&-mobile-slider {
		display: none;
	}
	&-block {
		text-align: center;	
		&:after {	
			content: '';
			display: block;
			height: 3px;
			width: 30px;
			margin: 0 auto;
			background-color: #fff;
			margin-top: 30px;
		}
		&-logo {
			font-size: 44px;	
			color: $hover-c;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		&-number {
			color: #fff;
			font-family: $text-f;
			font-size: 48px;
			font-weight: 200;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		&-features {
			font-family: $text-f;
			color: $hover-c;
			font-weight: 300;
			font-size: 14px;
			margin: 0 auto;
		}
	}
}


		// posts

.posts {
	padding: 80px 0;
	&-mobile-slider {
		display: none;
	}
	&-title {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	&-text {
		margin-bottom: 40px;
		text-align: center;
	}
	&-card {
		overflow: hidden;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			cursor: pointer;
			.posts-card-logo-wrapper {
				display: block;
			}
			.posts-card-body {
				background-color: #362f2d;
				border: none;
			}
			.posts-card-title {
				color: $hover-c;
			}
			.posts-card-text {
				color: #fff;
			}
			.date-num {
				background-color: $hover-c;
			}
			.date-month {
				background-color: #a48d72;
			}
		}
		&-body {
			padding:30px 0 30px 25px;
			border: 1px solid #f8f8f8;
			border-top: none;
		}
		&-logo{
			position: relative;
			&-wrapper {
				display: none;
				position: absolute;
				width: 370px;
				height: 220px;
				background-color: #000;
				opacity: .5;
			}
			&-item {
				display: block;
				width: 100%;
				height: 220px;
			}
		}
		&-title {
			font-family: $title-f;
			color: $title-c;
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 20px;
		}
		&-text {
			line-height: 22px;
			font-family: $text-f;
			color: $text-c;
			font-size: 14px;
			font-weight: 300;
			margin-bottom: 27px;
		}
		&-link {
			color: $hover-c;
			font-size: 14px;
			font-weight: 300;
			font-family: $text-f;
			transition: opacity, .3s;
			&:hover {
				color: $hover-c;
				text-decoration: none;
				opacity: .8;
			}
			&:after {
				content: '\e917';
				font-family: 'icomoon';
				font-size: 10px;
				margin-left: 10px;
			}
		}
	}
	.block-circle {
		position: absolute;
		bottom: 22px;
		left: 50%;
		transform: translate(-50%);
		.circle {
			display: inline-block;
			height: 11px;
			width: 11px;
			border-radius: 50%;
			background-color: #fff;
			opacity: .6;
			margin-right: 10px;
			&:hover {
				background-color: transparent;
				border: 2px solid #d3c1ad;
				cursor: pointer;
			}
		}
	}
	.date {
		position: absolute;
		top: 30px;
		left: 30px;
		&-num {
			text-align: center;
			line-height: 35px;
			font-family: $text-f;
			font-size: 24px;
			font-weight: 300;
			color: #fff;
			width: 50px;
			height: 35px;
			border: none;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			background-color: #363636;
		}
		&-month {
			text-align: center;
			line-height: 25px;
			font-family: 'Roboto';
			font-size: 12px;
			font-weight: 400;
			color: #fff;
			width: 50px;
			height: 25px;
			border: none;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			background-color: #252525;
		}
	}
}
.posts-carousel {
	margin-bottom: 60px;
}
.posts-carousel-indicators {
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translate(-50%);
}
.posts-carousel-indicators .posts-indicator-slide  {
			display: inline-block;
			content: url(/src/img/indicator-slide.png);
			height: 22px;
			width: 22px;
			cursor: pointer;
			opacity: .6;
			margin-right: 8px;
			&:hover {
				opacity: 1;
			}
}
.left-arrow{
				transform: rotate(180deg);
			}

      // Partners

.partners {
	background-image: url(/src/img/partners-bg.jpg);
	background-size: cover;
	padding: 140px 0;
	.for-validate {
		display: none;
	}
}

			// news

.news {
	padding: 80px 0;
	background-color: #191919;
	background-size: cover;
	.news-row {
		align-items: stretch;
	}
	&-item {
		display: block;
		margin-bottom: 20px;
		&:hover {
			cursor: pointer;
			.news-item-date {
				color: #fff
		 }
			.news-item-text {
				color: $hover-c;
			}
			&:last-child {
				cursor: default;
			}
		}
		&-date {
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
			color: #363636;
			font-family: $text-f;
			font-weight: 300;
		}
		&-text {
			font-family: $text-f;
			color: #545454;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
		}
		&-time {
			display: block;
			font-family: $text-f;
			font-size: 12px;
			color: #363636;
			font-weight: 300;
			margin-top: 11px;
		}
		&-user-link {
			text-decoration: none;
			color: #00bff3;
			font-family: $text-f;
			font-size: 14px;
		}
		&-user-site {
			color: #959595;
			font-weight: 300;
			font-size: 14px;
			font-family: $text-f;
		}
	}
	&-recent-post {
		.news-item-text,
		.news-item-user-link,
		.news-item-date {
			line-height: 20px;
		}
		.news-item:nth-child(3) {
			border: 1px solid #252525;
			border-left: none;
			border-right: none;
			padding: 20px 0;
		}
	}
	&-twitter {
		.news-item-text {
				margin-bottom: 11px;
				line-height: 20px;
		}
		.news-item:nth-child(3) {
			padding: 20px 0;
			border-top: 1px solid #252525;
			border-bottom: 1px solid #252525;
		}
	}
	&-block-logo {
		margin-bottom: 29px;
		.news-logo {
			font-family: $title-f;
			color: #fff;
			font-size: 34px;
			font-weight: 400;
			&:hover {
				text-decoration: none;
			}
			&:before {
				content: url(/src/img/footer-logo.png);
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	&-link {
		font-family: $text-f;
		font-size: 14px;
		font-weight: 400;
		color: #d1d1d1;
		opacity: .6;
		&:after {
			content: '\E917';
			font-family: 'icomoon';
			font-size: 8px;
			margin-left: 10px;
		}
		&:hover {
			text-decoration: none;
			color: #d1d1d1;
			opacity: 1;
		}
	}
	&-title {
		margin-top: 28px;
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 33px;
	}
	&-drible-widget {
		.row:nth-child(1) {
			margin-bottom: 10px;
		}
		&-image {
			padding: 0 5px;
		} 
		&-pict {
			display: block;
			width: 100%;
		}
	}
}

				// footer 

.footer {
	background-color: #111;
	padding: 45px 0 52px 0;
	&-about {
		&-item {
			display: inline-block;
			&:last-child:after {
				display: none;
			}
			&:after {
				display: inline-block;
				content: '';
				height: 13px;
				width: 1px;
				background-color: #252525;
				margin:0 10px;
			}
		}
		&-link {
			color: #555;
			font-size: 13px;
			font-family: $text-f;
			&:hover {
				text-decoration: none;
				color: $hover-c;
			}
			&-logo {
				color: #959595;
			}
		}
	}
	&-production {
		&-item {
			display: inline-block;
			&:last-child:after {
				display: none;
			}
			&:after {
				display: inline-block;
				content: '';
				height: 13px;
				width: 1px;
				background-color: #252525;
				margin: 0 10px;
			}
		}
		&-link {
			color: #555;
			font-size: 13px;
			font-family: $text-f;
			&:hover {
				text-decoration: none;
				color: $hover-c;
			}
			&-logo {
				color: #959595;
			}
		}
	} 
}


 						// 	ADAPTIVE
@media screen and (min-width:992px) and (max-width: 1199px) {
 .top-menu-link {
 	font-size: 12px;
 }
 .header-block-activity {
 	margin: 0;
 }
 .header-search,
 .header-cart {
 	font-size: 16px;
 }
 .header-cart {
 	margin-right: 10px;
 }
 .footer-about-link,
 .footer-production-link {
 	font-size: 11px;
 }
 .device-list-item-text {
 	font-size: 12px;
 }
}
@media screen and (min-width:769px) and (max-width:991px) {
	.main {
		&-logo {
			display: none;
		}
		.top {
			&-menu {
				&-link {
					font-size: 12px;
				}
			}
		}
		.header-cart,
		.header-search {
			font-size: 20px;
		}
	}		
	.posts {
		background-color: #000;
		&-card {
			&-logo {
				&-wrapper {
					width: 100%;
				}
			}
			&-body {
				border: none;
			}
		}
		.carousel-inner {
			width: 70%;
			margin: 0 auto;
		}
		&-mobile-slider {
			display: block;
			order: 2;
			}
		&-carousel {
			display: none;
		}
	}
	.partners {
		display: none;
	}
	.footer {
		&-production {
			&-link {
				font-size: 12px;
			}
		}
	}
}
            // Table
@media screen and (min-width: 577px) and (max-width:768px) {
	.header {
		display: block;
		&-desctop {
			display: none;
		}	
	}
	.mobile-header {
		display: flex;
	}
	.main {
		.slide-pict {
			height: 600px;
			min-height: 600px;
		}
		.carousel-control-prev,
		.carousel-control-next {
			top: 45%;
		}
		.mobile-header {
			display: flex;
		}
	}
	.work {
		&-card:nth-child(1),
		&-card:nth-child(2) {
			margin-bottom: 40px;
		}
	}
	.juggler {
		display: none;
	}
	.wordpress {
		text-align: center;
		&-text {
			margin-bottom: 15px;
		}
	}
	.project {
		.dropdown {
			display: block;
			margin-bottom: 40px;
		}
		&-block {
			display: none;
		}
	}
	.presentation {
		&-wrapper {
			&-text {
				display: none;
			}
			&-time {
				display: none;
			}
		}
	}
	.device {
		&-bg {
			width: 100%;
			display: block;
			height: 100%;
		}
		&-list {
			margin-left: 0;
		}
		&-text {
			display: none;
		}
	}
	.calc {
		.mobile-calc {
			width: 100%;
			margin: 0 auto;
		}
		&-block {
			display: none;
		}
		&-mobile {
			&-slider {
				display: block;
			}
		}
	}
	.posts {
	background-color: #000;	
		.carousel-inner {
			width: 80%;
			margin: 0 auto;
		}
		&-card-body {
			border: none;
		}
		&-carousel {
			display: none;
		}
		&-mobile-slider {
			display: block;
			order: 2;
		}
	}
	.partners {
		display: none;
	}
}

           // Mobile 
@media screen and (min-width: 320px) and (max-width: 576px) {
	.main .container {
		padding: 0;
		margin: 0;
	}
	.main {
		.carousel {
			&-control-prev,
			&-control-next {
				display: none;
			}
		}
		.wrapper {
			position: absolute;
			padding: 0 10px;
		}
	}

	.header {
		display: block;
		&-desctop {
			display: none;
		}
		&-nav-menu-open {
			margin-bottom: 0;
		}
		&-nav-menu-open:hover {
			margin-bottom: 0;
			.header-nav-menu {
				top: 33px;
				margin-bottom: 0;
			}
		}
	}
	.mobile {
		&-header {
			display: flex;
			padding-top: 20px;
			margin-bottom: 40px;
			&-menu {
				display: flex;
				height: 100%;
				justify-content: center;
				align-items: center;
				&-link {
					z-index: 3;
					display: block;
					width: 20px;
					height: 13px;
					text-decoration: none;
					position: relative;
					&:hover {
						opacity: .8;
					 .mobile-header-nav {
							display: flex;
						}
					}
				}
				&-item {
					position: absolute;
					display: block;
					width: 20px;
					height: 1px;
					background-color: #fff;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&:after {
						content: '';
						position: absolute;
						display: block;
						width: 20px;
						height: 1px;
						background-color: #fff;
						transform: translateY(5px); 
					}
					&:before {
						content: '';
						position: absolute;
						display: block;
						width: 20px;
						height: 1px;
						background-color: #fff;
						transform: translateY(-5px);
					}
				}	
			}
			&-img {
				display: flex;
				height: 100%;
				justify-content: center;
			}
			&-pict {
				justify-self: center;
			}
			&-search {
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
				&-link {
					text-decoration: none;
					color: #fff;
					&:hover {
						color: #fff;
						text-decoration: none;
						opacity: .8;
					}
				}
			}
			&-nav {
				text-align: center;
				position: fixed;
				background-color: rgba(0,0,0,.5);
				width: 100%;
				top: 0;
				left: 0;
				z-index: 3;
				height: 70%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				// &-area {
				// 	display: none;
				// }
				&-item {
					margin-bottom: 10px;
				}
				&-link {
					color: #fff;
					font-size: 16px;
					&:hover {
						text-decoration: none;
						color: #fff;
					}	
				}
			}
		}
	}
	.title-block {
		.upper-title {
			display: none;
		}
		.title {
			font-size: 40px;
		}
		.under-title {
			padding: 0 15px;
			margin-bottom: 20px;
			font-size: 14px;
			color: #aaa7a8;
		}
		.title-block-btn {
			height: 45px;
			width: 125px;
			margin-bottom: 30px;
		}
	}
	.carousel-indicators .slider-indicator {
		width: 10px;
		height: 10px;
		margin-bottom: 20px;
	}
	 
		.ideas .juggler {
			display: none;
		}
		.wrapper {
			position: relative;
		}
		
		.work {
			margin-top: 20px;
			padding: 0;
			&-card {
				margin-bottom: 30px;
			}
		}
		.wordpress {
			&-title-block {
				text-align: center;
				margin-bottom: 25px;
			}
			&-btn {
				position: relative;
				left: 50%;
				transform: translate(-50%);
				margin: 0 auto;
			}
		}
		.project {
			&-mobile-slider {
						display: block;
					}
			&-text {
				display: none;
			}
			&-block {
				display: none;
				&-mobile {
					& .dropdown-menu {
						transform: none;	
					}

					&-link {
						width: 100%;
						color: #8c8c8c;
						text-decoration: none;
						font-family: $text-f;
					}
				}
			}
			.dropdown {
				margin-bottom: 40px;
				display: block;
			}
			.card {
				margin-right: 0;
			}
			.desctop-card-area {
				display: none;
			}
		}
		.presentation {
			&-wrapper {
				&-title,&-text,&-time {
					display: none;
				}
			}
		}
		.device {
			&-phone-bg {
				order: 2;
			}
			&-text,&-list {
				display: none;
			}
			&-title {
				text-align: center;
			}
			&-bg {
				display: block;
				margin: 0 auto;
			}
		}
		.calc {
			.mobile-calc {
				margin: 0 auto;
				width: 100%;
			}
			&-mobile-slider {
				display: block;
			}
			&-block {
				margin-bottom: 25px;
				display: none;
		}
	}
	.posts {
		padding: 0;
		padding-bottom: 20px;
		&-mobile-slider {
			display: block;
		}
		&-carousel {
			display: none;
		}
		&-text, &-title {
			display: none;
		}
		&-card{
			&:hover {
				cursor: default;
			.posts-card-logo-wrapper {
				display: none;
			}
			.posts-card-body {
				background-color: inherit;
				border: none;
			}
			.posts-card-title {
				color: inherit;
			}
			.posts-card-text {
				color: inherit;
			}
			.date-num {
				background-color: #363636;
			}
			.date-month {
				background-color: #252525;
			}
			}
			&-body {
				padding: 10px 0;
				text-align: center;
			}
		}	
	}
	.partners {
		display: none;
	}
	.footer {
		&-about {
			margin-bottom: 15px;
			text-align: center;
		}
		&-production {
			text-align: center;
		}
	}
}